.card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 2%;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: auto;
  max-width: 390px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
.card__like-btn {
  cursor: pointer;
  background-image: url(../images/like-btn-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.card__delete-btn {
  cursor: pointer;
  background-image: url(../images/delete-icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  opacity: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 371px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-icon-hover.svg);
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/liked-icon.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    padding-top: 12px;
    max-width: 288px;
    width: 100%;
  }

  .card__title {
    font-size: 16px;
    max-width: 260px;
  }

  .card__delete-btn {
    width: 32px;
    height: 32px;
    top: 10px;
    left: 246px;
  }
}
