.modal {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: visibility 0.3s, opacity 0.3s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 703px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/modal-x-button.png);
  opacity: 40%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.4);
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

.modal__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
}

.modal__caption {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
  max-width: 80vw;
  word-break: break-word;
}

.preview-image-modal .modal__container {
  background: transparent;
  box-shadow: none;
  padding: 0;
  max-width: none;
  max-height: none;
  width: fit-content;
  height: fit-content;
}

.preview-image-modal .modal__close-button {
  background-image: url(../images/modal-x-button-dark-mode.svg);
  opacity: 100%;
  right: -50px;
  top: 0;
}
.preview-image-modal .modal__close-button:hover {
  opacity: 40%;
}

.preview-image-modal .modal__caption {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  margin-top: 4px;
  font-size: 18px;
  width: fit-content;
  max-width: 100%;
  text-align: left;
  word-break: break-word;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__close-button {
    top: 16px;
    right: 16px;
  }

  .modal__image {
    max-width: 80vw;
    max-height: 60vh;
  }
  .modal__caption {
    font-size: 14px;
    max-width: 95vw;
  }

  .preview-image-modal .modal__close-button {
    background-image: url(../images/modal-x-button-dark-mode.svg);
    width: 40px;
    height: 40px;
    opacity: 100%;
  }

  .preview-image-modal.portrait .modal__close-button {
    right: 10px;
    top: 30px;
  }

  .preview-image-modal.landscape .modal__close-button {
    left: 270px;
    top: -45px;
  }
}
